@import "./_scss/const.scss";

html {
  font-size: 15px;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $white1;
  color: $default-color;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;  
}

ul,li {
  margin: 0;
  padding: 0;
}

.highlight, pre {
  overflow: auto;
}

a {
  color: $blue;
  text-decoration: none;
  border-bottom: 0px;
  display: inline-block;
  position: relative;
  transition: $transition; 

  &:hover {
    color: $blue1;
  }
}

@import "./_scss/header.scss";
@import "./_scss/loading.scss";
@import "./_scss/post.scss";
@import "./_scss/article.scss";
@import "./_scss/page.scss";
@import "./_scss/page-nav.scss";
@import "./_scss/footer.scss";
@import "./_scss/content.scss";
@import "./_scss/archive.scss";
@import "./_scss/social.scss";
@import "./_scss/search.scss";
@import "./_scss/animation.scss";